body {
  font-family: Arial;
  text-align: center;
  background: #f541ce;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background: white;
  padding: 15px;
  margin: 15px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
